body{
    background-color: grey;
}

div{
    width: 750px;
    margin-left: 250px;
    font-style: Arial;
    background-color: white;
    padding-right: 30px;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}

p{
    text-align: justify;
}